[*.{cs,vb}]

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# S3267: Use LINQ methods to simply foreach loops
dotnet_diagnostic.S3267.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# S2696: Instance members should not write to "static" fields
dotnet_diagnostic.S2696.severity = none

# S2245: Pseudorandom number generators (PRNGs) should not be used in security contexts
dotnet_diagnostic.S2245.severity = none
